{{#each results}}
<div class="row">
  <div class="col-sm-4"><h4>{{Product.name}}</h4></div>
  <div class="col-sm-4"><h4>{{Product.price}} Ft</h4></div>
  <form method="POST" action="/cart/{{id}}?_method=put">
    <input name="quantity" type="text" value="{{quantity}}" size="4">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Modify</button> 
  </form>
  <form method="POST" action="/cart/{{id}}?_method=delete">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Delete</button> 
  </form>
</div>
{{/each}}
<br>
<div class="row">
  <div class="col-sm-9"></div>
  <form method="GET" action="/cart/order">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Order</button> 
  </form>
</div>