<h1 align="center"> Keresési találatok </h1>

{{#each products}}

<div class="productlist">
    <div class="productphoto">
        {{#if pictures}}
        <img id="productphoto" src="{{pictures}}" height="100px"/>
        {{else}}
        <img id="productnophoto" src="https://www.notebook-alkatresz.hu/images/nincs_kep.jpg"/>
        {{/if}}

    </div>
    <div class="details px-3">
        <b>
            <font size="5em">Termék: </b>{{name}}</font>
        <br>
        <b>Termékleírás: </b>{{description}}
    </div>
    <div class="price px-3">
        <b>
            <font size="5em">{{price}} Ft</b>
        </font>
    </div>
</div>

{{/each}}
