<h1 align="center"> Keresési találatok </h1>

{{#if products.length }} <!-- ha van eleme a tombnek, amit a search.js-ben kaptunk meg -->
{{#each products}}
<div class="productlist">
    <div class="productphoto">
        {{#if picturesFolder}}
        <img id="productphoto" src="{{picturesFolder}}" height="100px"/>
        {{else}}
        <img id="productnophoto" src="/images/nincs_kep.jpg"/>
        {{/if}}

    </div>
    <div class="details px-3">
        <b>
            <font size="5em">Termék: </b>{{name}}</font>
        <br>
        <b>Termékleírás: </b>{{description}}
    </div>
    <div class="price px-3">
        <b>
            <font size="5em">{{price}} Ft</b>
        </font>
    </div>
</div>
{{/each}}
{{else}}
<p>Nincs találat a keresésre.</p>
{{/if}}
