<div class="userauth col-sm-5 col-md-4 col-lg-4 col-xl-3 p-3 my-3 mx-auto bg-dark text-white row">
  <form method="POST" action="/users/{{user.id}}?_method=put" class="my-3 mx-auto">
    <div class="circle mx-auto bg-success">
      <i class="fas fa-home fa-4x mt-3" aria-hidden="true"></i>
    </div>
    <h3 class="my-4">Location information</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Country:</label>
      <input name="country" type="text" value="{{user.country}}" class="form-control">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">County:</label>
      <input name="county" type="text" value="{{user.county}}" class="form-control">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">City:</label>
      <input name="city" type="text" value="{{user.city}}" class="form-control">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">ZIP:</label>
      <input name="zip" type="text" value="{{user.zip}}" class="form-control">
    </div>
    <div class="form-group">
      <label>Street:</label>
      <input class="form-control" type="text" value="{{user.street}}" name="street">
    </div>
    <div class="row">
      <div class="form-group  col-sm-4">
        <label>Number:</label>
        <input type="text" class="form-control" value="{{user.houseNumber}}" name="houseNumber">
      </div>
      <div class="form-group  col-sm-4">
        <label>Floor:</label>
        <input type="text" class="form-control" value="{{user.floor}}" name="floor">
      </div>
      <div class="form-group  col-sm-4">
        <label>Door:</label>
        <input type="text" class="form-control" value="{{user.door}}" name="door">
      </div>
    </div>
    <button class="btn btn-success my-2 my-sm-3" type="submit">Update</button>
    <div>
      <a href="/users/{{user.id}}/editper">Personal data</a>
    </div>
    <div>
      <a href="/users/{{user.id}}/editpw">Change password</a>
    </div>
    
  </form>
</div>