{{#each users}}
  <h2>{{firstName}} {{lastName}} {{email}}</h2>
  <a href="/users/{{id}}">Megjelenítés</a>
  <a href="/users/{{id}}/edit">Szerkesztés</a>
  <form method="POST" action="/users/{{id}}?_method=delete"><button type="submit">Törlés</button></form>
{{/each}}