{{#each users}}

<div class="row justify-content-center align-self-center m-2">
  <div class="btn-group col-sm-2 md-4 lg-2 xl-2"><h5>{{username}}</h5></div>
  <div class="btn-group col-sm-2 md-4 lg-2 xl-2"><h5>{{firstName}}</h5></div>
  <div class="btn-group col-sm-2 md-4 lg-2 xl-2"><h5> {{lastName}}</h5></div>
  <div class="btn-group col-sm-3 md-6 lg-3 xl-3"><h5> {{email}}</h5></div>
    
  <div class="btn-group col-sm-2 md-4 lg-2 xl-2">
    <a href="/admin/users/{{id}}">
      <button type="submit" class="btn btn-outline-success">Show</button>
    </a>

    <a href="/admin/users/{{id}}/edit">
      <button type="submit" class="btn btn-outline-success">Edit</button>
    </a>
  </div>
 
</div>
 <hr style="width: 100%; color: black; height: 1px; background-color:black; padding:0; margin:0;"  />

{{/each}}