<div class="text-dark p-5">
    <h4><u>Category:</u><br/>{{category.name}}</h4><br>
<div class="container-fluid">
<div class="row">
{{#each products}}
<div class="col-lg-3">
<div class="card" style="width: 18rem;">
  <a href="/products/{{id}}">
    <img class="card-img-top p-4" src="/images/porszivo.png" alt="Card image cap">
  </a>
  <div class="card-body">
    <h5 class="card-title text-capitalize">{{name}}</h5>
    <p class="card-text">{{price}} Ft</p>
    <a href="/products/{{id}}">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Megtekintés</button>
    </a>
  </div>
</div>
</div>
{{/each}}
</div>
</div>
</div>
