<div class="text-dark p-5">
  <div class="mx-auto" style="width: 72%">
    <h5><u>Category:</u></h5>
    <p>{{category.name}}</p>
  </div>
<div class="container-fluid">
<div class="row products mx-auto">
{{#each products}}
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
<div class="card shadow mx-auto">
  <div id="cardimg">
    <a href="/products/{{id}}">
      {{#if picture}}
        <img class="card-img-top" src="/uploads/{{picture}}" alt="{{name}}" >
      {{else}}
        <img class="card-img-top" src="/images/noimg.jpg" alt="{{name}}">
      {{/if}}
    </a>
  </div>
  <div class="card-body cardfooter">
    <a href="/products/{{id}}">
      <h4 class="card-title text-capitalize">{{name}}</h4>
    </a>
    <div class="row d-flex justify-content-between mx-auto">
      <h5 class="card-text mt-2 col-sm-6 col-md-6 col-lg-12 col-xl-6">{{price}} Ft</h5>
      <form method="POST" action="/categories/{{id}}?_method=put" class="col-sm-6 col-md-6 col-lg-12 col-xl-6">
        <div class="row mx-auto" id="cart">
          <input name="quantity" type="text" class="form-control text-center col-lg-4 col-sm-3 p-1 mr-2" value="1" min="1">
          <button  class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-shopping-cart mx-auto" title="Add to cart" alt="add to cart"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{{/each}}
</div>
</div>
</div>
