<div class="col-5 p-3 m-3 mx-auto bg-dark text-white">
<form method="POST" action="/admin/products/{{product.id}}?_method=put" enctype="multipart/form-data" >
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input name="name" type="text" value="{{product.name}}" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Description:</label>
    <input name="description" type="text" value="{{product.description}}" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Price:</label>
    <input name="price" type="text" value="{{product.price}}" class="form-control" id="exampleInputEmail1">
  </div>
  
  <div class="form-group dropdown">
    <label>Categories:</label><br>
    <select class="btn dropdown-toggle btn-block bg-white text-dark" name="categoryId">
      {{#each categories}}
        <option value="{{id}}" {{#if isSelected}} selected {{/if}} >{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label>Image:</label>
    <img src="/uploads/{{product.picture}}" alt="product-picture" class="img-thumbnail rounded mx-auto d-block" width="200" height="200">
    <input type="file" name="image" class="pt-3" />
  </div>  

  <button class="btn btn-success my-2 my-sm-0" type="submit">Edit</button>
</form>
</div>
