<h3 align="center" class="my-3"> Products admin </h3>

{{#each products}}

<div class="row justify-content-center align-self-center align-items-center mt-2 mb-2">

  <div>
    {{#if picture}}
      <img src="/uploads/{{picture}}" alt="picture" class="img-thumbnail rounded mx-auto d-block" width="85" height="85">
    {{else}}
      <img src="/images/noimg.jpg" alt="no-image" class="img-thumbnail rounded mx-auto d-block" width="85" height="85" >
    {{/if}}
  </div>
  <div class="btn-group col-sm-2 ml-2"><h4> {{name}}</h4></div>
  <div class="btn-group col-sm-2 ml-2"><h4> {{description}}</h4></div>
  <div class="btn-group col-sm-2 ml-2"><h4> {{price}}</h4></div>
  <div class="btn-group col-sm-2 ml-2"><h4> {{Category.name}}</h4></div>
    
  <div class="btn-group col-sm-2">
    <a href="/admin/products/{{id}}">
      <button type="submit" class="btn btn-outline-success">Show</button>
    </a>

    <a href="/admin/products/{{id}}/edit">
      <button type="submit" class="btn btn-outline-success">Edit</button>
    </a>

    <form method="POST" action="/admin/products/{{id}}?_method=delete">
      <button type="submit" class="btn btn-outline-success">Delete</button>
    </form>
  </div>
 
</div>
 <hr style="width: 100%; color: black; height: 1px; background-color:black; padding:0; margin:0;"  />

{{/each}}