<div class="col-3 p-3 m-3 mx-auto bg-dark text-white">
    <h4><u>Name:</u><br/>{{product.name}}</h4>
    <h4><u>Description:</u><br/>{{product.description}}</h4>
    <h4><u>Price:</u><br/>{{product.price}}</h4>
    <h4><u>On stock:</u><br/>{{product.onStock}}</h4>
    <h4><u>Category:</u><br/>{{category.name}}</h4>
</div>