<div class="d-flex flex-column col-5 p-3 m-3 mx-auto bg-dark text-white">
  <div class="d-flex flex-row justify-content-between"> <div> <h4> <u>  Name: </u> </h4> </div> <div> <h4> {{product.name}} </h4> </div></div>
  <div class="d-flex flex-row justify-content-between"> <div> <h4> <u> Description: </u> </h4> </div> <div> <h4> {{product.description}} </h4></div></div>
	<div class="d-flex flex-row justify-content-between"> <div> <h4> <u> Price: </u> </h4> </div> <div> <h4> {{product.price}} </h4> </div></div>
	<div class="d-flex flex-row justify-content-between pb-5 "> <div> <h4> <u> Category: </u> </h4> </div> <div> <h4> {{category.name}} </h4> </div></div>
	<div>
    {{#if product.picture}}
      <img src="/uploads/{{product.picture}}" alt="{{product.picture}}" class="img-thumbnail rounded mx-auto d-block">
    {{else}}
      <img src="/images/noimg.jpg" alt="no-image" class="img-thumbnail rounded mx-auto d-block">
    {{/if}}
  </div>
</div>