<div class="col-4 p-3 m-3 mx-auto bg-dark text-white">
<form method="POST" action="/admin/products/{{product.id}}?_method=put">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input name="name" type="text" value="{{product.name}}" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Description:</label>
    <input name="description" type="text" value="{{product.description}}" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Price:</label>
    <input name="price" type="text" value="{{product.price}}" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">On stock:</label>
    <input name="onStock" value="{{product.onStock}}" type="text" class="form-control" id="exampleInputEmail1">
  </div>
  <button class="btn btn-success my-2 my-sm-0" type="submit">Edit</button>
</form>
</div>
