    <div class="container">
      <div class="row">
        <div class="col-md-6">
            {{#if product.picture}}
                <img src="/uploads/{{product.picture}}" alt="{{name}}" id="image">
            {{else}}
                <img src="/images/noimg.jpg"  alt="{{name}}" id="image">
            {{/if}}
        </div>
        <div class="col-md-6">
            <h3 class="font-weight-bold"><br/>{{product.name}}</h3>
            <p><br/>{{product.description}}</p>
            <div class="row mx-auto d-flex justify-content-between mt-5 mb-5">
                <h4 class="font-weight-bold mr-auto"><u></u>{{product.price}} Ft</h4>
                <form method="POST" action="/products/{{product.id}}?_method=put" class="col-6">
                    {{#if user}}
                    <div class="row mx-auto">
                        <input name="quantity" type="text" class="form-control text-center col-2 mr-2" value="1" min="1" >
                        <button class="btn btn-success my-2 my-sm-0 mr-2" type="submit">Add to cart</button>
                    </div>
                    {{/if}}
                </form>
            </div>
        </div>
      </div>
    </div>

<div class="text-left p-5 mx-auto">
    {{#if user}}
        <form method="POST" action="/comments" class="col-9 mx-auto">
            <h2>Comments</h2><br>
            <input type="hidden" name="productId" value={{product.id}}/>
            <textarea class="form-control" name="comment" placeholder="Write your comment here."></textarea>
            <div class="mb-3">
                <button class="btn btn-success my-2 my-sm-3" type="submit">Submit</button>
            </div>
        </form>
    {{/if}}

    {{#each comments}}
        <div class="comment shadow-sm mx-auto">
            <h4><br/>{{User.username}}</h4>
            <hr width="20%" class="mt-0">
            <p align="justify">{{comment}}</p>
        </div>
        <br>
    {{/each}}
</div>