<form method="POST" action="/admin/orders/{{order.id}}?_method=put"></form>
  <div class="col-8 p-3 m-3 mx-auto bg-dark text-white">
    <div class="row mx-1 mb-3 vertical-center d-flex justify-content-between">
    <div class="border border-success col-lg-3 col-xs-12 p-3"> 
      <h3>ID: {{order.id}}</h1>
    </div>
    <div name="status" class="border border-success col-lg-4 col-xs-12">
      <label for="status">Status: </label>
      
      <select name="status" class="btn btn-success dropdown-toggle btn-block" type="button"id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#each statuses}}
        <option value="{{value}}" {{#if isSelected}} selected {{/if}}>{{label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="border border-success col-lg-3 col-xs-12">
      <label for="userID">User ID: </label>
      <input name="userId" type="text" value="{{order.userId}}" class="form-control form-block">
    </div>

 </div>
  

    <button class="btn btn-success my-2 my-sm-0 btn-block" type="submit">Edit</button>
  
  </div>
  </form>
  
