<div class="mx-auto col-10">
  <div class="my-4">
    <h1><u>Orders</u></h1>
  </div>
  <a href="/admin/orders/filtered/deleted">
    <button type="submit" class="btn btn-outline-success mx-1">Show: Deleted</button>
  </a>

  <a href="/admin/orders/filtered/delivered">
    <button type="submit" class="btn btn-outline-success mx-1">Show: Delivered</button>
  </a>

  <a href="/admin/orders/filtered/ordered">
    <button type="submit" class="btn btn-outline-success mx-1">Show: Ordered</button>
  </a>

  <a href="/admin/orders/">
    <button type="submit" class="btn btn-outline-success mx-1">Show: All</button>
  </a>

  <a href="/admin">
    <button type="submit" class="btn btn-outline-success m-2"> Go back to the admin mainpage</button>
  </a>





  {{#each orders}}

  <div method="GET" action="/admin/orders/{{order.status}}?_method=get" class="row justify-content-center align-text-bottom my-2"
    style=" border: 1px solid #1FB24D">

    <div class="btn-group col-xs-2 col-md-1 ml-0 mt-1">
      <h5> {{id}}</h5>
    </div>
    <div class="btn-group col-xs-5 col-md-4 ml-1 mt-1">
      <h5> {{User.email}}</h5>
    </div>
    <div class="btn-group col-xs-3 col-md-2 ml-1 mt-1">
      <h5> {{User.username}}</h5>
    </div>
    <div class="btn-group col-xs-2 col-md-2 ml-1 mt-1">
      <h5> {{status}}</h5>
    </div>

    <div class="btn-group col-md-2 col-sm-3">
      <a href="/admin/orders/{{id}}">
        <button type="submit" class="btn btn-outline-success">Show</button>
      </a>

      <a href="/admin/orders/{{id}}/edit">
        <button type="submit" class="btn btn-outline-success">Edit</button>
      </a>
    </div>

  </div>


  {{/each}}
</div>
</div>