<h3 align="center" class="my-3"> Show order </h3>

<div class="col-3 p-3 m-3 mx-auto bg-dark text-white">
    <h4><u>ID:</u><br/>{{order.id}}</h4>
    <h4><u>UserID:</u><br/>{{order.userId}}</h4>
    <h4><u>User name:</u><br/>{{order.User.username}}</h4>
    <h4><u>Delivery Address:</u><br/>{{order.deliveryAddress.zip}}, {{order.deliveryAddress.city}}</h4>
    <h4><u>Billing Address:</u><br/>{{order.billingAddress.zip}}, {{order.billingAddress.city}}</h4>
    <h4><u>Status:</u><br/>{{order.status}}</h4>
    <h4><u>E-mail:</u><br/>{{order.User.email}}</h4>
</div>